<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--数据来源，比如要从嘉华永安导入用户登录信息，要配置对应的DVP链接信息-->
    <add key="SQLConnString" value="server=120.77.181.245,1175;user id=sa;password=scwy528;database=EpowerGKA_DVP;"/>
    <!--判断服务器是否是64位操作系统-->
      <add key="Is64Machine" value="true"/>
    <!--单点登录数据库的默认地址，不需要修改-->
    <add key="ssoConn" value="Data Source=120.77.12.154;user id=sa;password=hyl@528;database=MemberCenters;"/>
    <!--上面的单点登录数据库中 UserCompany.Id 字段,配置此参数时要去上面数据中查询，没有的公司要手动插入数据，然后修改 -->
    <add key="CompanyId" value="5"/>
  </appSettings>
</configuration>